
<html>

<h1>Biography</h1>

<%= image_tag "/images/carl.jpg",  :width => 140 %>
<p>Carl spent a total of two years studying Yoga with Geeta Iyengar, Prashant Iyengar, Rajiv, Swati Chanchani and other teachers throughout India. He developed his focus on combining yoga with awareness training while living and practicing at San Francisco Zen Center for three years. Carl is a graduate of the Iyengar Yoga Institute of San Francisco's two year Advanced Studies/Teacher Training Program. </p>

</html>