
<h1>Classes</h1>

<%= image_tag "/images/asana_03_opt.jpg",  :width => 140 %>
<p>Carl currently is not teaching at a studio. Check back later to learn when and where Carl is teaching.<p>

Carl currently is available for private yoga sessions. Send him a request through the <strong>contact </strong>page.
	<center>
	<table border = 1 cellpadding = 5>
		<tr><td><strong>Sun</strong></td><td><strong>Mon</strong></td><td><strong>Tue</strong></td><td><strong>Wed</strong></td><td><strong>Thu</strong></td><td><strong>Fri</strong></td><td><strong>Sat</strong></td></tr>
		<tr><td><i>none</i></td><td><i>none</i></td><td><i>none</i></td><td><i>none</i></td><td><i>none</i></td><td><i>none</i></td><td><i>none</i></td></tr>
	</table>
	</center>
</p>