
<h1>Classes</h1>

<%= image_tag "/images/asana_03_opt.jpg",  :width => 140 %>
<p>Carl currently is not teaching at a studio. Check back later to learn when and where Carl is teaching.</p>

<p>Carl currently is available for private yoga sessions. Send him a request through the contact page.</p>

<br><br><br><br><br><br><br><br>
<div>
	<table border="1" cellpadding="5" width="100%">
		<tr><th><strong>Sun</strong></th><th><strong>Mon</strong></th><th><strong>Tue</strong></th><th><strong>Wed</strong></th><th><strong>Thu</strong></th><th><strong>Fri</strong></th><th><strong>Sat</strong></th></tr>
		<tr><td><i></i></td><td><i>none</i></td><td><i>none</i></td><td><i>none</i></td><td><i>none</i></td><td><i>none</i></td><td><i>none</i></td></tr>
</table>
</div>