<html>

    <h1>Contact</h1>
     <p>3966 Piedmont Avenue<br/>
    OAKLAND, CA 94611<br/>
    (510) 652-3336</p>

	<h3><%= link_to "Email Carl", {:controller => "notifications", :action => "index"}, :class => @selected_tab == 'index' ? 'active' : '' %></h3>

  <iframe width="425" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=piedmont+yoga&amp;fb=1&amp;gl=us&amp;hq=piedmont+yoga&amp;hnear=San+Francisco,+CA+94102&amp;cid=0,0,1196852555372213558&amp;ei=PcGfS-a9A5PitgOZ8bnfCw&amp;ved=0CAkQnwIwAA&amp;ll=37.827175,-122.252727&amp;spn=0.005932,0.00912&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?oe=utf-8&amp;client=firefox-a&amp;ie=UTF8&amp;q=piedmont+yoga&amp;fb=1&amp;gl=us&amp;hq=piedmont+yoga&amp;hnear=San+Francisco,+CA+94102&amp;cid=0,0,1196852555372213558&amp;ei=PcGfS-a9A5PitgOZ8bnfCw&amp;ved=0CAkQnwIwAA&amp;ll=37.827175,-122.252727&amp;spn=0.005932,0.00912&amp;z=16&amp;iwloc=A&amp;source=embed" style="color:#0000FF;text-align:left">View Larger Map</a></small>


</html>
