
<html>

<h1>Welcome!</h1>

<h2>How often do you do a headstand in daily life?</h2>


<%= image_tag "/images/carl.jpg",  :width => 160, :options =>
{:align=>"right", :style=>"padding-right: 10px; padding-top: 5px;"} %>


<p>Would it help during your day to have an awareness that is focused, steady, and sensitive to your inner and outer environment? Yoga is great for increasing flexibility and mastering asanas, but  many of the traditional Yogic texts declare that Yoga is for transforming our awareness. Carl Loeffler's yoga classes train your awareness through asana sequences (both flow and holding poses). "Once you understand the basic shape of an asana, the pose becomes a confidence course for the mind – a course that will challenge you to build sensitivity and precision of awareness to complete the deeper aspects of the pose," Carl says.</p>
	
<p>Don’t worry, Carl's classes are still physically rigorous and provide all the musculoskeletal benefits associated with Yoga! Occasionally Carl will play soundscapes comprised of spare percussion or ambient sounds. Sound and yoga is a powerful combination; sounds acts as a prop to aid your awareness in connecting and synthesizing various parts of an asana.</p>  

</html>


, :width => "160" :align => "left" :hspace => "20" :vspace => "30")%>