<html>
  <body>
    <h1>Philosophy</h1>

<%= image_tag "/images/asana_01_opt.jpg",  :width => 140 %>     
<p>Carl practices Ashtanga yoga as interpreted by BKS Iyengar. He seeks to introduce Western practitioners to a more essential experience of yoga rather that the athletic endeavor it has become in the West. "It's a holistic lifestyle more frequently practiced fully in the East," he explained. It has come in the West to mean yoga asanas but it is much more than that. Ashtanga itself is just a tiny branch of <em>hatha</em>. It is just one branch of the 8 limbs of yoga - the asanas (or poses) and sometimes a little of the fourth branch of yoga, which is <em>pranayama</em> (or breathing).

"Yoga in the West is predominately exercise for stretching, strengthening and toning the body and for a certain amount of stress release. But if you look at the very first statement in the yogic sutras, the most primary yogic texts - <em>Patanjali</em> - No. 1 states that yoga is for consciousness."

<p>For Carl the job of people who actually have studied in India is to point Western students back to the primary aspect of yoga - consciousness training. This way of practicing trains the awareness. It hones the ability to focus, to be more present inside one's own body as a way of living fully.

The practice is "to use the body as training course, because it is the most immediate resource we have," he said. "It's where we actually touch on the rest of the universe. That's the first step in discovering what the universe is about, is to look inside yourself. A body filled with awareness is of course also a healthy body.

"A body that one listens to actually provides awareness of minute changes to which one can make adjustments. You are listening to the body way before there is actual pain. This practice heightens awareness of what is actually occurring in your body from moment to moment. This allows you to be empowered and emancipated in your day-to-day movements because you are so attuned to your mind-body connection."
</p>

           
  </body>
</html>