
  <body>
    <h1>YOGA philosophy!</h1>
     <h2>Carl's Style of Yoga</h2>
     <p>Iyengar - Ashtanga yoga as intrepeted by BKS Iyengar</p>
    
    <h2>Philosophy of Yoga</h2>
    <p>It's a holistic lifestyle more frequently practiced fully in the East
It has come in the West to mean yoga asanas. 

One branch of the 8 limbs of yoga - asana. Sometimes a little of the 4th branch which is pranayama.

Ashtanga itself is just a tiny branch of hatha.

Yoga in the west is predomintany exercise for stretching, strengthening and toning the body and for a certain amount of stress release.

But if you look at the very first statement in the yogic sutras, the most primary yogic texts - Patanjali - No. 1 states that yoga is for consciousness.

The job of people who actually have studiedin India is to point Western students back to the primary aspect of yoga - consciousness training.</p>
    <h2>Benefits of Yoga</h2>
    </p>Train your awareness: ability to focus, to be more present inside my own body as a way of living fully.

To use the body as training course because it is the most immediate resource we have. It's where we actually touch on the rest of the universe. That's the first step in discovering what the universe is about, is to look inside yourself. A body filled with awareness is of course also a healthy body.

A body that one listens to actually provides awareness of minute changes to which one can make adjustments. You are listening to the body way before there is actual pain.

Heighten awareness of what is actually occurring in yoru body from moment to moment and how oÉ yoru are empowered and emancipated in your day-to-day movements because you are so connected to your mind-body connection.
</p>

    
    
    <h2><a href="bio.html">Biography</a></h2>
        
    
  </body>
</html>